@model IEnumerable<System.Security.Claims.Claim>

@{
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <td>Claim Name</td>
            <td>&nbsp;</td>
            <td>Claim Value</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>
                    @claim.Type
                </td>
                <td>
                    <button type="button"
                            class="btn btn-link btn-xs"
                            aria-label="Copy to clipboard"
                            title="Copy to clipboard"
                            data-clipboard-text="@claim.Value">
                        <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    @claim.Value
                </td>
            </tr>
        }
    </tbody>
</table>