@{
}

<h2>Tokens</h2>

<p>
    <label>Access Token</label>
    <p class="form-control-static">@ViewData["access_token"]</p>
</p>

<p>
    <label>ID Token</label>
    <p class="form-control-static">@ViewData["id_token"]</p>
</p>