@using Microsoft.AspNetCore.Hosting

@model Guid

@inject IHostingEnvironment Env

<div id="app"></div>

@await Html.PartialAsync("_VueScriptsPartial")

<environment include="Development">
    <script src="~/js/calculator.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/calculator.min.js" asp-append-version="true"></script>
</environment>

<script type="text/x-template" id="accrual-calculator-component">
    @await Html.PartialAsync("Vue\\_AccrualCalculatorComponent")
</script>

<script type="text/x-template" id="demo-calculator-component">
    @await Html.PartialAsync("Vue\\_DemoCalculatorComponent")
</script>

<script type="text/x-template" id="accrual-table-component">
    @await Html.PartialAsync("Vue\\_AccrualTableComponent")
</script>

<script type="text/x-template" id="accrual-row-component">
    @await Html.PartialAsync("Vue\\_AccrualRowComponent")
</script>

<script type="text/x-template" id="actions-component">
    @await Html.PartialAsync("Vue\\_ActionsComponent")
</script>

<script type="text/x-template" id="cool-stats-component">
    @await Html.PartialAsync("Vue\\_CoolStatsComponent")
</script>

<script type="text/x-template" id="action-history-component">
    @await Html.PartialAsync("Vue\\_ActionHistoryComponent")
</script>

<script type="text/x-template" id="action-history-detail-component">
    @await Html.PartialAsync("Vue\\_ActionHistoryDetailComponent")
</script>

<script type="text/x-template" id="add-action-component">
    @await Html.PartialAsync("Vue\\_AddActionComponent")
</script>

<script type="text/javascript">
    Vue.use(VeeValidate);
    
    var ModelId="@Model";
    var Environment="@Env.EnvironmentName";

    var app = new Vue({
        el: '#app',
        store: MongoStore,
        components: {
            AccrualCalculatorComponent
        },
        render: function(createElement) {
            return createElement(AccrualCalculatorComponent);
        }
    });
</script>