@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Hello! My name is Ryan Rodemoyer and I'm the author of Accrual Calculator.  
</p>

<p>The source code for this site is <a href="https://github.com/ryanrodemoyer/AccrualCalculator" target="_blank">available on GitHub</a>. Submit a pull request if you want to fix or improve anything.</p>

<p>Use the <a asp-action="Contact" asp-controller="Home">Contact</a> page to send me a message.</p>
