@{
}

<div class="row">
    <h1>@ViewData["Title"]</h1>

    <p class="lead">
        Monitor your paid time off accruals and usage over time.
    </p>

    <div class="row">
        <div class="col-md-6">
            <h2>Open Source</h2>
            <p>Accrual Calculator is 100% open source through the MIT license.</p>
        </div>
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>See how your paid time off grows throughout the year.</p>
        </div>
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>Ensure your accrued time is never lost by setting a maximum value to accrue.</p>
        </div>
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>Plan for emergencies by setting a minimum value to have available.</p>
        </div>
        <div class="col-md-6">
            <h2>Demo Me!</h2>
            <p>Be a believer and <a asp-action="Demo" asp-controller="Home">take a demo</a> to see what our tool can offer.</p>
        </div>
        <div class="col-md-6">
            <h2>Useful Metrics</h2>
            <p>See how much your accrued time off is worth.</p>
        </div>
    </div>
</div>