@{
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    
    <p class="lead">
        Monitor your paid time off accruals and usage over time.
    </p>
    
    <div class="row">
        <div class="col-md-6">
            <h2>Open Source</h2>
            <p>Accrual Calculator is 100% open source through the MIT license.</p>
        </div>
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>See how your paid time off grows throughout the year.</p>
        </div>  
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>Ensure your accrued time is never lost by setting a maximum value to accrue.</p>
        </div>        
        <div class="col-md-6">
            <h2>Informative</h2>
            <p>Always have enough accrued time to plan for emergencies by setting a minimum value to have available.</p>
        </div>        
    </div>
</div>
