<div class="row" style="margin: 5px;">
    <div class="col-sm-12 col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Create New Accrual Calculator</div>
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-info">(load default group)</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a v-on:click.prevent="loadDefaults('biweekly')">Biweekly</a>
                        </li>
                        <li>
                            <a v-on:click.prevent="loadDefaults('semi-monthly')">Semi-Monthly</a>
                        </li>
                    </ul>
                </div>

                <form v-on:submit.prevent="validateBeforeSubmit">
                    <div class="form-group" class="">
                        <h3>
                            <label for="name" class="label label-info label-lg">Name</label>
                        </h3>
                        <input type="text" class="form-control" placeholder="Give this thing a name"
                               id="name" name="name"
                               v-model="config.name"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('name')">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="starting-hours" class="label label-info label-lg">Starting Hours</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="The amount of hours currently available"
                               id="starting-hours" name="starting-hours"
                               v-model="config.startingHours"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('starting-hours')">
                            Starting Hours is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="accrual-rate" class="label label-info">Accrual Rate</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="Amount of hours earned per accrual period"
                               id="accrual-rate" name="accrual-rate"
                               v-model="config.accrualRate"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('accrual-rate')">
                            Accrual Rate is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="max-hours" class="label label-info">Min Hours</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="Warn me if my available hours goes below"
                               id="min-hours" name="min-hours"
                               v-model="config.minHours"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('min-hours')">
                            Min Hours is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="max-hours" class="label label-info">Max Hours</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="The maximum amount of hours you are allowed to accrue"
                               id="max-hours" name="max-hours"
                               v-model="config.maxHours"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('max-hours')">
                            Max Hours is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="accrual-frequency" class="label label-info">Accrual Frequency</label>
                        </h3>
                        <select class="form-control selectpicker" data-width="100%"
                                id="accrual-frequency" name="accrual-frequency"
                                v-model="config.accrualFrequency">
                            <option disabled value="">How often do you accrue hours?</option>
                            <option value="BIWEEKLY">Biweekly</option>
                            <option value="SEMIMONTHLY">Semi-Monthly</option>
                        </select>
                    </div>

                    <div class="form-group" class=""
                         v-if="config.accrualFrequency === 'SEMIMONTHLY'">
                        <h3>
                            <label for="dayOfPayA" class="label label-info">Pay A</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="Day of Pay A"
                               id="dayOfPayA" name="dayOfPayA"
                               v-model="config.dayOfPayA"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('dayOfPayA')">
                            Pay A is required.
                        </div>
                    </div>

                    <div class="form-group" class=""
                         v-if="config.accrualFrequency === 'SEMIMONTHLY'">
                        <h3>
                            <label for="dayOfPayB" class="label label-info">Pay B</label>
                        </h3>
                        <input type="number" class="form-control" placeholder="Pay B"
                               id="dayOfPayB" name="dayOfPayB"
                               v-model="config.dayOfPayB"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('dayOfPayB')">
                            Pay B is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="starting-date" class="label label-info">Starting Date</label>
                        </h3>
                        <input type="date" class="form-control" placeholder="(mm/dd/yyyy)"
                               id="starting-date" name="starting-date"
                               v-model="config.startingDate"
                               v-validate="'required'"/>
                        <div class="alert alert-danger" v-if="errors.has('starting-date')">
                            Starting Date is required.
                        </div>
                    </div>

                    <div class="form-group" class="">
                        <h3>
                            <label for="ending" class="label label-info">Ending</label>
                        </h3>
                        <select class="form-control" data-width="fit"
                                id="ending" name="ending"
                                v-model="config.ending">
                            <option disabled value="">For how long should this schedule calculate</option>
                            <option value="CURRENTYEAR">Current Year</option>
                            <option value="PLUSONE">+1 Year</option>
                            <option value="PLUSTWO">+2 Years</option>
                            <option value="PLUSTHREE">+3 Years</option>
                        </select>
                    </div>

                    <div class="" style="margin-top: 10px">
                        <button class="btn btn-success btn-block" name="calculate" style="margin-bottom: 10px;"
                                :disabled="errors.any() || !config.name"
                                v-on:click="click">
                            <h4 style="margin-top: 10px;">Create!</h4>
                        </button>
                        <button class="btn btn-warning btn-block" name="calculate" style="margin-bottom: 10px;"
                                v-on:click="loadDefaults('reset')">
                            <h4 style="margin-top: 10px;">RESET</h4>
                        </button>
                    </div>


                    <div class="">
                        <pre v-if="environment.name === 'Development'">{{ this.$data }}</pre>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>