<accrual-calculator-component>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        This is a playground to explore the app and see what it can do. Add time off you've used, change the date and explore! Use the Contact page to send any questions or feedback. Like what you see? Sign up today!
    </div>
</accrual-calculator-component>